:root {
    --branco: #FFFFFF;
    --rosa-claro: #FF97CA;
    --rosa-vibrante: #FF348E;
    --cereja: #BE0049;
    --vinho: #770021;
}

body {
    background-color: var(--branco);
    color: var(--vinho); /* Texto principal em vinho para melhor leitura */
    font-family: 'Poppins', sans-serif; /* Uma fonte arredondada fica ótima para confeitaria */
}

.tab-btn {
    border: 2px solid var(--rosa-vibrante);
    color: var(--vinho);
}

.tab-btn.active {
    background-color: var(--cereja);
    border-color: var(--cereja);
    color: var(--branco);
}

.item-doce h3 {
    color: var(--cereja);
}

.item-doce span {
    font-weight: bold;
    color: var(--vinho);
}